.changing-btn {
  background-color: #023a51;
  color: white;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.changing-btn svg {
  margin-bottom: 2rem;
}

.changing-btn:hover {
  width: 65px;
  height: 65px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.changing-btn:hover > svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-section {
  position: absolute;
  top: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav-section .logo-box h4 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.nav-section .logo-box h6 {
  color: #5c667d;
  font-size: 12px;
  font-weight: 300;
}

.nav-link {
  color: white !important;
}

.hamburger-menu {
  background-color: white;
  display: none;
  position: fixed;
  z-index: 1000;
}

.hamburger-menu header {
  text-align: end;
}

.hamburger-menu .btn-close {
  background-color: #4fbf4f;
}

.modal-dialog {
  background-color: white;
  opacity: 1;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 50rem;
}

.hero-section .hero-section-content,
.hero-section .carousel-inner,
.hero-section .carousel-item,
.hero-section img {
  height: 100%;
}

.carousel-card {
  position: absolute;
  z-index: 100;
  top: 40%;
  left: 15%;
  right: 15%;
}

.carousel-card .card {
  background-color: transparent;
}

.carousel-card h5 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.carousel-card span {
  color: white;
  font-size: 20px;
}

.bridge-section {
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #023a51;
}

.bridge-section h5 {
  color: #4fbf4f;
  font-size: 16px;
  font-weight: bold;
}

.bridge-section h6 {
  color: #5c667d;
}

.bridge-card {
  width: 100%;
  height: 170px;
  background-color: white;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bridge-card-right {
  width: 50%;
}

.bridge-card-right img {
  width: 100%;
  height: 100%;
}

.bridge-card-left {
  width: 50%;
  height: 100%;
}

.bridge-card-left p {
  font-weight: bold;
  color: #023a51;
  font-size: 18px;
  margin: 1rem;
}

.bridge-card-left svg {
  color: #5c667d;
  margin: 1rem;
}

.bridge-card-left:hover {
  background-color: #4fbf4f;
  cursor: pointer;
}

.bridge-card-left:hover p {
  color: white;
}

.services {
  background-color: #c9e5ee;
}

.services .services-title {
  font-size: 26px;
  color: #5c667d;
  font-weight: bold;
}

.services .services-paragraph {
  font-size: 56px;
  color: #023a51;
  font-weight: bold;
}

.services .services-header {
  color: #4fbf4f;
  font-size: 16px;
  font-weight: bold;
}

.services-top-card {
  background-color: #c9e5ee;
  border: none;
}

.services-top-card h5 {
  color: #4fbf4f;
  font-size: 48px;
}

.services-top-card span {
  color: #5c667d;
  font-size: 16px;
}

.services-top-card p {
  color: #5c667d;
  font-size: 18px;
  border-top-color: #5c667d;
  border-top-style: 0.2px;
  border-top-style: solid;
}

.services-row-two .card {
  background-color: #c9e5ee;
}

.services-row-two h5 {
  color: #023a51;
  font-size: 18px;
}

.services-row-two p {
  color: #5c667d;
  font-size: 18px;
}

.services-row-three img {
  width: 6rem;
}

.services-row-three .col {
  width: 16rem;
}

.services-row-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.services-row-four span {
  color: #5c667d;
  font-size: 28px;
}

.knowledge .knowledge-paragraph {
  font-size: 56px;
  color: #023a51;
  font-weight: bold;
}

.knowledge .knowledge-header {
  color: #4fbf4f;
  font-size: 16px;
  font-weight: bold;
}

.knowledge a {
  color: #023a51;
  font-size: 18px;
}

.knowledge .knowledge-title {
  font-size: 26px;
  color: #5c667d;
  font-weight: bold;
}

.knowledge img {
  width: 100%;
  height: 200px;
}

.knowledge .card-content:hover .card-hover {
  width: 80%;
  height: 80%;
}

.knowledge .card-hover {
  background-color: #023a51;
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 0;
  height: 80%;
  overflow: hidden;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.knowledge .card-hover img {
  width: 3rem;
  height: 3rem;
}

.knowledge .card-hover h6 {
  margin-top: 1rem;
  color: #4fbf4f;
  font-size: 14px;
}

.knowledge .card-hover p {
  color: white;
  font-size: 18px;
}

.knowledge .why .why-paragraph {
  font-size: 56px;
  color: #023a51;
  font-weight: bold;
}

.knowledge .why h5 {
  color: #4fbf4f;
  font-style: bold;
  font-size: 28px;
}

.knowledge .team-image {
  max-height: 700px;
  width: 100%;
}

.knowledge .team .team-paragraph {
  font-size: 56px;
  color: #023a51;
  font-weight: bold;
}

.knowledge .team .team-header {
  color: #4fbf4f;
  font-size: 16px;
  font-weight: bold;
}

.knowledge .team li {
  color: #5c667d;
}

.knowledge .team h5 {
  color: #023a51;
  font-size: 16px;
  font-weight: bold;
}

.knowledge .team h6 {
  color: #5c667d;
}

.knowledge .team-row-one {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #023a51;
}

.knowledge .news .quote {
  width: 60px;
}

.knowledge .news h5 {
  color: #023a51;
  font-size: 16px;
  font-weight: bold;
}

.knowledge .news h6 {
  color: #5c667d;
}

.knowledge .news h3 {
  color: #023a51;
  font-size: 36px;
}

.knowledge .news .photos {
  height: 257px;
  overflow: hidden;
}

.knowledge .news .row-three-news img {
  width: 90%;
  margin: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.knowledge .news .row-three-news .card {
  margin: auto;
}

.knowledge .news-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.knowledge .news-row img {
  width: 12rem;
}

.knowledge footer {
  background-color: #023a51;
}

.knowledge footer h3 {
  color: white;
  font-size: 60px;
  width: 10rem;
}

.knowledge footer h5 {
  color: #5c667d;
  font-size: 18px;
}

.knowledge footer h6, .knowledge footer p {
  color: #5c667d;
  font-size: 14px;
}

.knowledge footer button {
  width: 12rem !important;
  height: 3rem;
}

.knowledge footer .list-group-item {
  background-color: #023a51;
  color: #5c667d;
  border-style: none;
}

.knowledge footer .first {
  color: white;
}

.knowledge footer .form-control {
  background-color: #023a51;
}

.knowledge footer .input-button {
  width: 5rem !important;
}

.knowledge .cookie-policy {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.knowledge .cookie-policy .card {
  background-color: black;
}

.knowledge .cookie-policy .card h5 {
  color: white;
}

.knowledge .cookie-policy .card p {
  color: #5c667d;
}

.knowledge .cookie-policy .card .btn-cookie {
  width: 100%;
  margin-top: 1rem;
  background-color: white;
  color: black;
}

.knowledge .cookie-policy .card .btn-close {
  background-color: #5c667d;
}

.knowledge .cookie-policy .card h6 {
  color: white;
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .knowledge .hero-section {
    height: 40rem;
  }
  .knowledge .carousel-card {
    top: 30%;
    left: 0%;
  }
  .knowledge .carousel-card h5 {
    font-size: 50px;
  }
  .knowledge .carousel-card span {
    font-size: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .knowledge .hero-section {
    height: 30rem;
  }
}
/*# sourceMappingURL=style.css.map */