//variables
$weird-green: rgb(79, 191, 79);
$weird-blue: rgb(2, 58, 81);
$ugly-gray: rgb(92, 102, 125);
@mixin page-content-header{
    color: $weird-green;
    font-size: 16px;
    font-weight: bold;
}
@mixin page-content-paragraph {
    font-size: 56px;
    color: $weird-blue;
    font-weight: bold;
}
@mixin page-content-title {
    font-size: 26px;
    color: $ugly-gray;
    font-weight: bold;
}
// nav bar
.nav-section {
    position: absolute;
    top: 0;
    z-index: 900;
    background: rgba(transparent, 0.2);
    opacity: 0.9;
    height: fit-content;
    .logo-box{
        h4 {
            color:white;
            font-size: 30px;
            font-weight: bold;
        }
        h6 {
            color: $ugly-gray;
            font-size: 12px;
            font-weight: 300;
        }
    }
}
.nav-link {
    color: white!important
}
//hamburger menu
.hamburger-menu {
    background-color: white;
    display: none;
    position: fixed;
    z-index: 1000;
    header {
      text-align: end;
    }
    .btn-close {
        background-color: $weird-green;
    }
}
//modal
.modal-dialog {
  background-color: white;
  opacity: 1;
}
// hero section
.hero-section {
    position: relative;
    width:100%;
    height: 50rem;
    .hero-section-content,
    .carousel-inner,
    .carousel-item,
    img {
        height: 100%;
    }
}
.carousel-card {
    position: absolute;
    z-index: 100;
    top: 40%;
    left:15%;
    right: 15%;
    .card {
        background-color: transparent;
    }
    h5 {
        color: white;
        font-size: 70px;
        font-weight: bold;
    }
    span {
        color: white;
        font-size: 20px;
    }
}  
// bridge
.bridge-section {
    width: 100%;
    max-height: fit-content;
    background-color: $weird-blue;
    h5 {
        color: $weird-green;
        font-size: 16px;
        font-weight: bold;
    }
    h6 {
        color: $ugly-gray
    }
} 
.bridge-card {
    width: 100%;
    height: 170px;
    background-color: white;
    margin-bottom: 3rem;
    display: flex;
    
}
.bridge-card-right {
    width: 50%;
    img {
        width: 100%;
        height: 100%; 
    }
}
.bridge-card-left {
    width: 50%;
    height: 100%;
    p {
        font-weight: bold;
        color: $weird-blue;
        font-size: 18px;
        margin: 1rem;
    }
    svg {
        color: $ugly-gray;
        margin: 1rem;
    }
}
.bridge-card-left:hover {
    background-color: $weird-green;
    cursor: pointer;
    p {
        color: white
    }
}
// page-content-one: services
.services {
    background-color: rgb(201, 229, 238);
    .services-title {
        @include page-content-title
    }
    .services-paragraph {
        @include page-content-paragraph
    }
    .services-header {
        @include page-content-header
    }
}
.services-top-card {
    background-color: rgb(201, 229, 238);
    border: none;
    h5 {
        color: $weird-green;
        font-size: 48px;
    }
    span {
        color: $ugly-gray;
        font-size: 16px;
    }
    p {
        color: $ugly-gray;
        font-size: 18px;
        border-top-color: $ugly-gray;
        border-top-style: 0.2px;
        border-top-style: solid;
    }
}
.services-row-two {
    .card {
        background-color: rgb(201, 229, 238);
    }
    h5 {
        color: $weird-blue;
        font-size: 18px;
    }
    p {
        color: $ugly-gray;
        font-size: 18px;
    }
}
.services-row-three {
    img {
        width: 6rem;
    }
    .col {
        width: 16rem;
    }
}
.services-row-four {
    button  {
    background-color: $weird-blue;
    color: white;
    font-size: 32px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    }
    span {
        color: $ugly-gray;
        font-size: 28px;
    }
}
// page-content-two: kwowledge
.knowledge {
    .knowledge-paragraph {
        @include page-content-paragraph
    }
    .knowledge-header {
        @include page-content-header
    }
    a {
        color:$weird-blue;
        font-size: 18px;
    }
    .knowledge-title {
       @include page-content-title
    }
    img {
        width: 100%;
        height: 200px;
    }
}
// page-content-three: why
.why {
    .why-paragraph {
        @include page-content-paragraph
    }
    h5 {
        color:$weird-green;
        font-style: bold;
        font-size: 28px;
    }
}
//page-content-four: team
.team-image {
    max-height: 700px;
    width: 100%;
}
.team {
    .team-paragraph {
        @include page-content-paragraph
    }
    .team-header {
        @include page-content-header
    }
    li {
        color:$ugly-gray
    }
    h5 {
        color: $weird-blue;
        font-size: 16px;
        font-weight: bold;
    }
    h6 {
        color: $ugly-gray
    }
}
.team-row-one {
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: $weird-blue;
}
// page-content-five: news
.news {
    .quote {
        width: 60px;
    }
    h5 {
        color: $weird-blue;
        font-size: 16px;
        font-weight: bold;
    }
    h6 {
        color: $ugly-gray
    }
    h3 {
        color: $weird-blue;
        font-size: 36px;
    }
    .photos {
        height: 257px;
        overflow: hidden;
    }
    .row-three-news {
        img {
            width:90%;
            margin: auto;
            height:100%;
            object-fit:cover;
        }
        .card {
            margin: auto;
        }
    }  
}
.news-row {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    img {
        width:12rem
    }
}
//footer
footer {
    background-color: $weird-blue;
    h3 {
        color: white;
        font-size: 60px;
        width: 10rem;
    }
    h5 {
        color: $ugly-gray;
        font-size: 18px;
    }
    h6, p {
        color: $ugly-gray;
        font-size: 14px;
    }
    button {
        width: 12rem !important;
        height: 3rem
    }
    .list-group-item {
        background-color: $weird-blue;
        color: $ugly-gray;
        border-style: none;
    }
    .first {
        color:white;
    }
    .form-control {
        background-color: $weird-blue;
    }
    .input-button {
        width: 5rem !important
    }
}
// cookie policy section
.cookie-policy {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    .card {
        background-color: black;
        h5 {
            color:white
        }
        p {
            color: $ugly-gray
        }
        .btn-cookie {
            width: 100%;
            margin-top: 1rem;
            background-color: white;
            color: black
        }
        .btn-close {
            background-color: $ugly-gray;
        }
        h6 {
            color: white;
            margin-top: 1rem;
        }
    }
}
//medium screen
@media only screen and (max-width: 768px){
    .hero-section {
        height: 40rem;
    }
    .carousel-card {
        top: 30%;
        left:0%;
        h5 {
            font-size: 50px;
        }
        span {
            font-size: 15px;
        }
    } 
}
//small screen
@media only screen and (max-width: 576px){
    .hero-section {
        height: 30rem;
    }
}
